---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { pageTitle, description, ogImage } = Astro.props;
---

<!DOCTYPE html>
<html lang={Astro.url.pathname.startsWith("/en") ? "en" : "ja"}>

  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q43P8R4LVX"></script>
          <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-Q43P8R4LVX');
    </script>

    <title>{pageTitle}</title>
    {description && <meta name="description" content={description} />}

    <!-- OGP -->
    <meta property="og:title" content={pageTitle} />
    {description && <meta property="og:description" content={description} />}
    <meta property="og:type" content="article" />
    <meta property="og:url" content={Astro.url.href} />
    {ogImage && (
      <meta property="og:image" content={new URL(ogImage, Astro.site).href} />
    )}

    <!-- X (Twitter) Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={pageTitle} />
    {description && <meta name="twitter:description" content={description} />}
    {ogImage && (
      <meta name="twitter:image" content={new URL(ogImage, Astro.site).href} />
    )}
    
  </head>

  <body>
    <Header />

    <main id="content">
      <div class="page-container">
        <slot />
      </div>
    </main>

    <Footer />

    <script src="/scripts/menu.js" defer></script>
    <script src="/scripts/header-hide.js" defer></script>
    <script src="/scripts/header-ui.js" defer></script>

  </body>
</html>
